*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    --white: #ffffff;
    --black: #000000;
    --blue: #0056fb;
    
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.container{
    height: 100vh;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
}

.column{
    flex-grow: 1;
    width: 50%;
    display: flex;
    align-items: center;
}

.left{
    background-color: var(--white);
}

.right{
    background-color: var(--blue);
    height: 100%;
    display: flex;
}

.right img{
    width: 420px;
    margin-bottom: 40px;
}

.img-text{
    width: 420px;
    margin: 0 auto;
    color: var(--white);
}

.img-text h1{
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 40px;
}